@font-face {
	font-family: acfontfam;
	src: url(fonts/FinkHeavy.ttf);
	}

#vill-wrapper {
	margin-left: auto;
	margin-right: auto;
	/*position: relative;
	bottom: 30px;
	top: 0px;*/
}

#flex-wrapper div {
	width: 100%;
	height: 175px;
}

#flex-wrapper {
	display: flex;
	align-content: center;
}

#vill-name {
	border-bottom: 1px solid white;
	color: white;
	text-align: center;
	margin-bottom: 30px;
}

#vill-subname {
	text-align: center;
	font-size: 0.6em;
	margin-top: -20px;
}

#vill-pic {
	width: 100px;
	height: auto;
}

#vill-pic-grayscale {
	position: relative;
	bottom: 50px;
	width: 200px;
	height: auto;
	filter: grayscale(100%);
}

#vill-pic-grayscale-type {
	position: relative;
	bottom: 100px;
	width: 50px;
	height: auto;
	filter: grayscale(100%);
}

#vill-types {
	padding: 0px;
}

#vill-types span {
	text-decoration: none;
	display: inline-block;
	margin-right: 3px;
	padding: 0px;
}

#vill-wrapper table {
	line-height: 1em;
}

#vill-wrapper #vill-info{
	text-align: center;
}
#vill-wrapper table tr td {
	font-size: 12pt;
	padding: 0px;
	text-transform: capitalize;
}

#vill-table-name {
	color: DDD;
	font-weight: 800;
	text-align: left;
}
